@import "mixins/flexbox";
@import "mixins/transition";

@import "components/carousel";
@import "components/variable";
@import "components/default";
@import "components/advantage";
@import "components/product";

@import "containers/header";
@import "containers/footer";

@import "components/helpers";

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {

}

html, body {
    font-family: 'Open Sans', sans-serif;
    //font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


main {
    background: #fff;
}
