a, img {
    transition: all 0.3s ease-in-out;
}
a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: grayscale(115%);
}


ul, ol {
    margin-bottom: 0;
}

input:focus {
    box-shadow: none !important;
}


